table {
  table-layout: fixed;
}

.admin-table {
  position: absolute;
  top: 66px;
  border-collapse: collapse;
}

.admin-table th {
  font-family: 'Nostromo Regular';
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #7657cb;
  border-bottom: 1px solid #cbdae2;
}

.admin-table th {
  min-width: 236px;
}

.admin-table tr:not(:nth-child(1)) {
  height: 260px;
}

.admin-table td {
  border: 1px solid #cbdae2;
}

.admin-table th:nth-child(1) {
  min-width: 302px;
}
